

@{
    ViewBag.Title = "ListOfAllFIGs";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Login/LoginForm");
    }
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2 align="center">List of FIGs </h2>
<br />
<br />



<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Sorted by Branch
     
    </button>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("DisplayFIGByBranch","FIG", new { id = 5 })">CSE</a></li>
        <li> <a href="@Url.Action("DisplayFIGByBranch","FIG", new { id = 6 })">CivilE</a></li>

    </ul>
</div>


<tr></tr>


<br />

<table class=" table table-bordered table-striped">
    <tr>
        <td style="vertical-align : middle" align="center"><b>Branch Name</b></td>
        <td style="vertical-align : middle" align="center"><b>FIG Name</b></td>
        <td style="vertical-align : middle" align="center"><b>FIG Email ID</b></td>
        <td style="vertical-align : middle" align="center"><b>Number of inters</b></td>
        <td style="vertical-align : middle" align="center"><b>Internship Letter Alloted</b></td>
        <td style="vertical-align : middle" align="center"><b>Applied</b></td>
        <td style="vertical-align : middle" align="center"><b>Stipend</b></td>
        <td style="vertical-align : middle" align="center"><b>No fees and No Stipend</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        @foreach (var fig in ViewBag.FIGDEtails)
        {
        <tr>
            <td style="vertical-align : middle" align="center">@fig.Branch.Name</td>
            <td style="vertical-align : middle" align="center">@fig.Name</td>
            <td style="vertical-align : middle" align="center">@fig.EmailID</td>

            <td style="vertical-align : middle" align="center">@fig.internsNbr</td>
            <td style="vertical-align : middle" align="center">@fig.LetterAlloted</td>
            <td style="vertical-align : middle" align="center">@fig.Applied </td>

            <td style="vertical-align : middle" align="center">@fig.Stipened</td>
            <td style="vertical-align : middle" align="center">@fig.NoFeesNoStippend</td>
            <td style="vertical-align : middle" align="center"><a href="">Edit</a></td>
            <td style="vertical-align : middle" align="center"><a href="">Delete</a></td>

            <td style="vertical-align : middle" align="center"><a href="@Url.Action("DisplayStudentsByFIG", "Student", new { id = fig.ID })">Show details</a></td>
        </tr>
    }
        </tr>
    </table>
    <p><a href="@Url.Action("Index","Admin")"><b>Back to Admin Tool Bar</b></a></p>
    <p><a href="@Url.Action("LogOut","Login")"><b>LogOut</b></a></p>