
@{
    ViewBag.Title = "Index";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Login/LoginForm");
    }
}

<style>
    .vertical-menu {
        width: 200px; /* Set a width if you like */
    }

        .vertical-menu a {
            background-color: #eee; /* Grey background color */
            color: black; /* Black text color */
            display: block; /* Make the links appear below each other */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove underline from links */
        }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color: #D9230F; /* Add a green color to the "active/current" link */
                color: white;
            }
</style>
<div class="vertical-menu">
    <a class="active">University FIG Coordinator Tool Bar</a>
   
    <a href="@Url.Action("ProfilDetails","FIG_University_Coor")">Profil Details</a>
    <a href="@Url.Action("ListFIGBranchCoor","FIG_Coor")" >FIG Branch Coordinator</a>
    <a href="@Url.Action("ListOfAllFIGsU","FIG")">FIG</a>

    <a href="@Url.Action("Index","Student")">Student</a>
    <a href="@Url.Action("Index","Organization")">Organization</a>
    <a href="@Url.Action("LogOut","Login")" class="active">LogOut</a>

</div>










