

@{
    ViewBag.Title = "ProfilDetails";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Login/LoginForm");
    }
}

<h2 align="center">University Coordinator Details</h2>
<br />
<br />


<div>

    <table class=" table table-bordered table-striped">
        <tr>
            <td style="vertical-align : middle" align="center"><b>Login ID</b></td>
            <td style="vertical-align : middle" align="center"><b>Name</b></td>
            <td style="vertical-align : middle" align="center"><b>Email ID</b></td>
            <td style="vertical-align : middle" align="center"><b>Phone Number</b></td>
            <td></td>
            
            
        </tr>
        <tr>
            @foreach (var f in ViewBag.FIGCoordDEtails)
            {
                <td style="vertical-align : middle" align="center">@f.LoginID</td>
                <td style="vertical-align : middle" align="center">@f.Name</td>
                <td style="vertical-align : middle" align="center">@f.EmailID</td>
                <td style="vertical-align : middle" align="center">@f.PhoneNumber</td>
                <td><a href="@Url.Action("EditDetails", "University_FIG_Coor",new { id=f.ID})">Edit</td>

            }
        </tr>
    </table>
</div>
<p><a href="@Url.Action("Index","FIG_University_Coor")"><b>Back to Tool Bar</b></a></p>
<p><a href="@Url.Action("LogOut","Login")"><b>LogOut</b></a></p>
